/* FONTS */
@font-face {
  font-family: "Bai Jamjuree";
  src: url(../../../Fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Bai Jamjuree";
  src: url(../../../Fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.ttf);
  font-weight: 600;
}

/* CUSTOM PROPERTIES */
:root{
/* color: primary */
  --strong-cyan: hsl(171, 66%, 44%);
  --light-Blue: hsl(233, 100%, 69%);
/* color: neutral */
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);

/* fonts */
  --ff-bj: "Bai Jamjuree", sans-serif;
}

/* BASIC STYLES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  font-size: 62.5%;
  font-family: var(--ff-bj);
}
body{
  font-size: 1.8rem;
}
img{
  max-width: 100%;
}
ul{
  list-style-type: none;
}
h1, h2, h3{
  color: var(--dark-grayish-blue);
  letter-spacing: -1px;

}
p{
  color: var(--grayish-blue);
  margin-bottom: 4.5rem;
  line-height: 1.6;
  font-size: 1.5rem;
}

/* REUSABLE CLASSES */
.btn{
  width: 100%;
  border-radius: 100px;
  padding: 1.5rem 0;
  color: #fff;
  display: block;
  margin-bottom: 2rem;

  transition: background-color 250ms;
}
.btn.btn-ios{
  background-color: var(--strong-cyan);
  border-bottom: 3px solid hsl(171, 67%, 33%);
  box-shadow: 0 16px 15px 0 hsla(171, 66%, 44%, .2);
}
.btn-mac{
  background-color: var(--light-Blue);
  border-bottom: 3px solid hsl(233, 98%, 60%);
  box-shadow: 0 16px 15px 0 hsla(233, 100%, 69%, .2);
}
.btn-ios:hover{
  background-color: hsl(171, 69%, 53%);
}
.btn-mac:hover{
  background-color: hsl(233, 100%, 76%);
}
.grid-row-3{
  display: grid;
  grid-template-rows: 1fr;
  gap: 2rem;
}
.grid-col-2{
  display: grid;
  grid-template-columns: 1fr;
}



/* PROJECT STYLES[mobile first] */
/* SECTION HEADER */
header{
  background: url(images/bg-header-mobile.png) no-repeat;
}
.container{
  margin: 0 auto;
  padding: 3.7rem;
  text-align: center;
}
header .logo{
  /* padding: 6rem 0 4rem 0; */
  margin: 8rem 0 4rem 0;
}
header h1{
  font-size: 3rem;
  margin: 2rem 0;
  font-weight: 600;
}

/* SECTION KEEP TRACK OF SNIPPETS */
.keep-track h2{
  font-weight: 600;
  margin: 6rem 0 2rem 0;
  font-size: 2.8rem;
  /* letter-spacing: -1px; */
}
.feature-img{
  margin-top: 2rem;
}
.feature-items h3{
  font-size: 2.4rem;
  margin: 4rem 0 1.5rem 0;
  font-weight: 600;
}

/* SECTION ACCES CLIPBOARD EVERYWHERE */
.access h2{
  font-size: 2.8rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.mobile-devices{
  margin-block: 2rem;
}

/* SECTION SUPERCHARGE YOUR WORKFLOW */
.supercharge h2{
  width: 300px;
  margin: 0 auto 1.5rem;
  text-align: center;
}
.supercharge p{
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.workflow-item{
  margin-top: 5rem;
}
.workflow-item h2{
  margin: 0 auto;
}
.workflow-item h3{
  margin: 3rem 0 2rem 0;
}
.workflow-item p{
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  width: 100%;

}

/* SECTION COMPANIES */
.company{
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin: 5rem auto;
}
.company img{
  width: 120px;
}

/* SECTION CLIPBOARD FOR IOS AND MAC OS */
.clipboard h2{
  margin-block: 2rem;
}
.clipboard p{
  font-size: 1.6rem;
}

/* FOOTER */
footer{
  margin-top: 8rem;
  background-color: rgb(245, 245, 245);
}
footer .logo{
  height: 60px;
  /* margin: 2rem 0 4rem 0; */
  justify-self: center;
}
footer ul{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 3.5rem 0 0 0;
}
footer ul > li{
  color: var(--grayish-blue);
  font-weight: 400;
}
ul.socials{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* margin: 0 0 2rem 0; */
  justify-self: center;
}
.socials i{
  color: var(--dark-grayish-blue);
  font-size: 2.6rem;
}

/* @media (min-width: 376px) and (max-width: 1440px) { */
/* LAPTOP & DESKTOP STYLES[SCREEN SIZE: 1440px] */
@media (min-width: 1440px) {
  /* SECTION HEADER */
  header{
    background: url(images/bg-header-desktop.png) no-repeat;
  }
  header h1{
    font-size: 4.6rem;
  }
  header p{
    /* width: 740px; */
    margin: 0 auto 5rem;
    font-size: 2rem;
  }
  .btn{
    display: inline-block;
    width: 225px;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  /* SECTION KEEP TRACK OF SNIPPETS */
  .grid-col-2{
    grid-template-columns: repeat(2, 1fr);
  }
  .keep-track h2{
    font-size: 3.4rem;
  } 
  .keep-track p{
    width: 700px;
    margin: 0 auto;
    font-size: 1.8rem;
  }
  .feature-section{
    margin: 5rem;
  }
  .feature-img{
    position: relative;
    left: -150px;
    max-width: 175%;
  }
  .feature-items{
    text-align: start;
    align-self: center;
    padding-left: 6rem;
  }
  .feature-items h3{
    font-size: 2.2rem;
  }
  .feature-items p{
    margin: 0;
    width: 350px;
    font-size: 1.6rem;
    line-height: 1.8;
  }


  /* SECTION ACCESS CLIPBOARD EVERYWHERE */
  .access h2{
    font-size: 3.4rem;
  }
  .access p{
    width: 680px;
    margin: 2rem auto 5rem;
    font-size: 1.8rem;
  }

  /* SECTION SUPERCHARGE YOUR WORKFLOW */
  .grid-col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }  
  .supercharge h2{
    font-size: 3.6rem;
    text-align: center;
    width: 50rem;
  }
  .supercharge p{
    /* margin: 1.8rem 0; */
    text-align: center;
    font-size: 1.8rem;
    width: 50rem;
  }
  .workflow-item img{
     height: 30px;
  }
  .workflow-item h3{
    font-size: 2.4rem;
    font-weight: 600;
  }
  .workflow-item p{
    font-size: 1.6rem;
    width: 350px;
    margin: 0 auto;
  }
  
  /* SECTION COMPANIES */
  .company{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin: 6rem 0;
  }
  .company li{
    padding: 0 2rem;
  }
  .company img{
    width: 135px;
  }

  /* SECTION CLIPBOARD FOR IOS AND MAC OS */
  .clipboard h2{
    font-size: 3.6rem;
  }
  .clipboard p{
    width: 600px;
    margin: 2rem auto 4rem;
    font-size: 1.6rem;
  }
  
  /* FOOTER */
  footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78%;
  }
  footer .grid-row-3{
    justify-content: center;
    align-items: center;
  }
  footer .logo{
    padding-right: 10rem;
    height: 50px;
  }
  ul.sitemap{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 30px 30px;
    gap: 1rem;
    justify-items: start;
    align-items: center;
  }
  ul.sitemap li:nth-child(1){
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  ul.sitemap li:nth-child(2){
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  ul.sitemap li:nth-child(4){
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  ul.sitemap a:active,
  ul.sitemap a:visited{
    color: var(--dark-grayish-blue)
  }
  ul.socials{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    /* width: 500px; */
  }
  footer .socials{
    font-size: 2.5rem;
  }
}
